@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --cor1: #fff;
    --cor2: #f6f9ff;
    --cor3: #444444;
    --cor4: rgba(1, 41, 112, 0.1);
    --cor5: #999;
    --cor6: rgba(246, 249, 255, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--cor2);
    color: var(--cor3);
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 100px;
}

.conteudo {
    position: relative;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px var(--cor4);
}

.conteudo h2 {
    text-align: center;
    font-size: 60px;
    color: var(--cor3);
    text-transform: uppercase;
}

.conteudo p {
    padding: 0 20px 20px 20px;
    font-size: 18px;
    color: var(--cor3);
    text-align: center;
}

.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.contador .tempo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor2);
    margin-right: 20px;
    font-size: 48px;
    min-width: 110px;
    font-weight: 700;
    padding: 10px 5px 15px;
    border-radius: 4px;
    color: var(--cor3);
}

.contador .tempo span {
    margin-top: -10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--cor3);
}

.redes-sociais {
    position: absolute;
    bottom: 40px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais li {
    list-style: none;
}

.redes-sociais li a {
    display: block;
    margin-right: 20px;
    transform: scale(0.8);
    transition: all 0.4s;
}

.redes-sociais li a:hover {
    transform: scale(1.2);
}

@media (max-width: 991px) {
    section {
        flex-direction: column;
        padding-top: 150px;
        max-height: 100vh;
    }

    .conteudo {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (max-width: 767px) {

    section {
        flex-direction: column;
        padding: 150px 20px 50px;
        max-height: 100vh;
    }

    .conteudo h2 {
        font-size: 40px;
    }

    .conteudo p {
        font-size: 16;
    }

    .contador .tempo {
        font-size: 30px;
        min-width: 70px;
        padding-bottom: 70px;
        margin-right: 5px;
    }

    .contador .tempo span {
        font-size: 14px;
    }

    section .redes-sociais {
        bottom: 5px;
    }
}